# .NET
bin/
obj/
.vs/
*.user
*.suo

# Angular
node_modules/
dist/
.angular/

# OS / IDE
.DS_Store
Thumbs.db
# SQL Server artefacts (local only)
*.dbmdl
*.jfm
*.mdf
*.ldf
*.ndf
*.bak
*.dacpac
*.bacpac
